.task-header {
    display: flex;
    justify-content: space-between;
}

.task-container {
    margin-block: 1rem 1rem;
    height: 100%;
    background-color: rgb(206, 206, 206);
    border-radius: 0.5rem;
}

.task-manager {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    min-height: 100%;
  }
  
.task-column {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
  
.task-column h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.task-item {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    border-radius: 0.5rem;
    cursor: grab;
    text-align: left;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.task-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}  

.task-item:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    cursor: grabbing;
}

.header-divider {
    width: 100%; /* Full width of the column */
    height: 1px; /* Thin line */
    background-color: #e0e0e0; /* Light gray color */
    margin: 1rem 0; /* Spacing around the divider */
    border: none; /* Remove any default borders */
}

button,
.btn-primary {
    color: #f44336;
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 0.5rem;
    font-family: 'Sarabun', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover,
.btn-primary:hover {
    background-color: rgba(196, 28, 19, 0.2); /* Hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced hover shadow */
    transform: translateY(-2px); /* Lift on hover */
}

button:active,
.btn-primary:active {
    background-color: #fce4e4; /* Subtle light red for active state */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inset shadow */
    transform: translateY(1px); /* Pressed effect */
}

@media (max-width: 768px) {
    button,
    .btn-primary {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }

    button,
    .btn-primary {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
}

.divider {
    margin: 0 0.5rem;
    color: #ccc;
    font-size: 0.8rem;
}